<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/css/styleBatch.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><spam class="My">My</spam>CS</h2>
            </div>

            <div class="menu">
                <ul>
                    <div sec:authorize="isAuthenticated()">
                        <li><a href="/singlepro">SINGLE PROCESSING</a></li>
                        <li><a href="/batch">BATCH PROCESSING</a></li>
                    </div>
                    <li><a href="#">PRIVACY POLICY</a></li>
                    <li><a href="/contact">CONTACT US</a></li>
                    <div sec:authorize="!isAuthenticated()">
                        <li><a href="/login">LOGIN</a></li>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                        <li>Welcome <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a></li>
                    </div>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Search a client">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        <h1 class="uploadtext">Upload your<span class="CSV"> CSV</span> file here</h1>
        <div class="wrapper">
            <span th:text="${message}" th:if="${message ne null}" class="spanMessage alert alert-primary"></span>
            <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="file-upload">
                      <input type="file" name="csv" accept=".csv" class="form-control-file"/>
                      <i class="fa fa-arrow-up"></i>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Upload File</button>
            </form>
            <br>
            <span th:if="${msg != null}" th:text="${msg}"></span>
        </div>
    </div>
</body>
</html>