<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/css/styleCont.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><spam class="My">My</spam>CS</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">SINGLE PROCESSING</a></li>
                    <li><a href="#">BATCH PROCESSING</a></li>
                    <li><a href="#">PRIVACY POLICY</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Search a client">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        

<section id="contact-details" class="section-p1">
    <div class="details">
        <span>GET IN TOUCH</span>
        <h2>Visit one of our agency locations or contact us today
        </h2>
        <h3>Head Office</h3>
        <div>
            <li>
                <i class="fal fa-map"></i>
                <p>Street Ivan Vazov 3, Sofia, Bulgaria</p>
            </li>
            <li>
                <i class="fal fa-envelope"></i>
                <p>experianBg@gmail.com</p>
            </li>
            <li>
                <i class="fal fa-phone-alt"></i>
                <p>+359897865941/ +35987745692</p>
            </li>
            <li>
                <i class="fal fa-clock"></i>
                <p>Monday - Saturday: 10.00am to 19.pm</p>
            </li>
        </div>
        <form>
            <input class="btnn" type="button" value="Go back!" onclick="history.back()">
        </form>

    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.509321192331!2d23.328086900000002!3d42.69293520000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8573afcccab5%3A0xb248c60f9e6931e6!2z0YPQuy4g0JjQstCw0L0g0JLQsNC30L7QsiAzLCAxMDAwINCh0L7RhNC40Y8g0YbQtdC90YLRitGALCDQodC-0YTQuNGP!5e0!3m2!1sbg!2sbg!4v1656915624245!5m2!1sbg!2sbg" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section> 


</body>
</html>